<!DOCTYPE html>
<html>
  <head>
    <title>Rails</title>
    <meta charset="utf-8" />

    <script src="js/remark-0.4.4.min.js"></script>
    <script src="js/jquery.min.js"></script>

    <script>
      remark.config({
        highlightStyle: "solarized_dark"
      });

      var hljs = remark.highlighter.engine();

      // extract the embedded styling from ansi spans
      remark.on('ready', function() {
        $('code.terminal > span.ansi').replaceWith(function(i, x) {
          return(x.replace(/&lt;(\/?(\w+).*?)&gt;/g, '<$1>'))
        });
      });
    </script>
    <script src="js/terminal.language.js"></script>
    <link rel="stylesheet" type="text/css" href="css/droid_serif.css" />
    <link rel="stylesheet" type="text/css" href="css/yanone_kaffeesatz.css" />
    <style type="text/css">
      body {
        font-family: 'Droid Serif';
        font-size: medium;
      }
      h1, h2, h3 {
        font-family: 'Yanone Kaffeesatz';
        font-weight: 400;
        margin-bottom: 0;
      }
      .small * {
        font-size: small !important;
      }
      code {
        border-radius: 5px;
      }
      .inverse {
        background: #272822;
        color: #777872;
        text-shadow: 0 0 20px #333;
      }
      .inverse h1, .inverse h2 {
        color: #f3f3f3;
        line-height: 0.8em;
      }
      .footnote {
        position: absolute;
        font-size: small;
        bottom: 3em;
        right: 3em;
      }
    </style>
  </head>
  <body><textarea id="source" readonly>

class: middle, center

# Rails

![Rails](img/rails.png)

[http://pjb3.me/bewd-rails](http://pjb3.me/bewd-rails)

.footnote[
  created with [remark](http://github.com/gnab/remark)
]

---

# Install Postgres 9.2

Postgres 9.2 is the database we're going to use

## Windows

http://www.enterprisedb.com/products-services-training/pgdownload#windows

## Mac

    .terminal
    $ brew install postgresql

Follow post-install steps

    .terminal
    $ initdb /usr/local/var/postgres -E utf8
    $ launchctl load ~/Library/LaunchAgents/homebrew.mxcl.postgresql.plist

## Verify you can log in

    .terminal
    $ psql -U postgres
    psql (9.2.4)
    Type "help" for help.

    postgres=#

---

# Install Rails

    .terminal
    $ gem install rails

---

# Create A New Project

Create a new Rails app using the Postgresql database

    .terminal
    $ rails new betastore -d postgresql
          create
          create  README.rdoc
          create  Rakefile
          create  config.ru
          create  .gitignore
          create  Gemfile
          create  app
          create  app/assets/javascripts/application.js
          create  app/assets/stylesheets/application.css
          create  app/controllers/application_controller.rb
          create  app/helpers/application_helper.rb
          create  app/views/layouts/application.html.erb
          create  app/assets/images/.keep
          create  app/mailers/.keep
          create  app/models/.keep
          create  app/controllers/concerns/.keep
          create  app/models/concerns/.keep
          ...

---

# Project Structure

    .terminal
    betastore
    ├── app - Application code
    ├── config - Configuration code
    ├── db - Database modifications
    ├── lib - Generic code
    ├── log - Log files
    ├── public - HTML/CSS/JavaScript/Images
    ├── test - Test code
    └── vendor - 3rd party code

---

# Model-View-Controller (MVC)

The MVC pattern keeps persistence and presentation code separate

    .terminal
    ├── app
    │   ├── controllers
    │   ├── models
    │   └── views
    └── config
        └── routes.rb

## Router

Controls which controller action handles the request

## Controller

Coordinates between models and views

## Model (persistence)

Used by the controller to store/retrieve data from the database

## View (presentation)

Templates used to generate HTML

---

# How Requests Are Handled in Rails Apps

![MVC](img/request_diagram.png)

1.  Browser makes an HTTP request

2.  Router determines which controller action should handle the request

3.  Controller action uses models to store/retrieve data

4.  Models make SQL queries to store/retrieve data from the database

5.  Controller passes data to the view templates to generate an HTML page

6.  Controller returns the HTML page to the browser to be rendered

---

# Rails Generators

The scaffold generators will generate code for you

For our application, let's generate a "coming soon" page where we collect email addresses

    .terminal
    $ rails generate scaffold subscription email
    invoke  active_record
    create    db/migrate/20130923234940_create_subscriptions.rb
    create    app/models/subscription.rb
    invoke    test_unit
    create      test/models/subscription_test.rb
    create      test/fixtures/subscriptions.yml
    invoke  resource_route
     route    resources :subscriptions
    invoke  scaffold_controller
    create    app/controllers/subscriptions_controller.rb
    invoke    erb
    create      app/views/subscriptions
    create      app/views/subscriptions/index.html.erb
    create      app/views/subscriptions/edit.html.erb
    create      app/views/subscriptions/show.html.erb
    create      app/views/subscriptions/new.html.erb
    create      app/views/subscriptions/_form.html.erb
    ...

---

# Database Setup

## Config database

In `config/database.yml`, change username from `betastore` to `postgres`

```yml
development:
  adapter: postgresql
  encoding: unicode
  database: betastore_development
  pool: 5
  username: postgres
  password:
```

## Run migrations

    .terminal
    $ rake db:create
    $ rake db:migrate
    ==  CreateSubscriptions: migrating ============================================
    -- create_table(:subscriptions)
       -> 0.0044s
    ==  CreateSubscriptions: migrated (0.0045s) ===================================

`rake` is command for running tasks, run `rake -T` to see the list

You can create your own, we will cover that later

---

# Running the server

    .terminal
    $ rails server
    => Booting WEBrick
    => Rails 4.0.0 application starting in development on http://0.0.0.0:3000
    => Run `rails server -h` for more startup options
    => Ctrl-C to shutdown server
    [2013-09-23 19:56:40] INFO  WEBrick 1.3.1
    [2013-09-23 19:56:40] INFO  ruby 2.0.0 (2013-06-27) [x86_64-darwin12.4.0]
    [2013-09-23 19:56:40] INFO  WEBrick::HTTPServer#start: pid=387 port=3000

---

.center[![Welcome](img/welcome.png)]

---

# Root Route

`config/routes.rb`

```ruby
Betastore::Application.routes.draw do
  resources :subscriptions
  root :to => 'subscriptions#index'
end
```

Remove comments and add root route

---

# View The Routes

    .terminal
    $ rake routes
               Prefix Verb   URI Pattern                       Controller#Action
        subscriptions GET    /subscriptions(.:format)          subscriptions#index
                      POST   /subscriptions(.:format)          subscriptions#create
     new_subscription GET    /subscriptions/new(.:format)      subscriptions#new
    edit_subscription GET    /subscriptions/:id/edit(.:format) subscriptions#edit
         subscription GET    /subscriptions/:id(.:format)      subscriptions#show
                      PATCH  /subscriptions/:id(.:format)      subscriptions#update
                      PUT    /subscriptions/:id(.:format)      subscriptions#update
                      DELETE /subscriptions/:id(.:format)      subscriptions#destroy
                 root GET    /                                 subscriptions#new

Routes are executed in order until a match is found

`:` in a URI pattern represents a variable, so `/subscriptions/:id` matches `/subscriptions/1`

The format of `subscriptions#index` means the `index` method of the `SubscriptionsController`

---

# Subscriptions Index

.center[![Scaffold Index](img/scaffold_index.png)]

---

# Subscriptions New

.center[![Scaffold New](img/scaffold_new.png)]

---

# What We Want

.center[![Betamore Sign Up](img/betamore_sign_up.png)]

---

# Subscriptions Controller

`app/controllers/subscriptions_controller.rb` _(simplified)_

```ruby
class SubscriptionsController < ApplicationController
  def index
    @subscriptions = Subscription.all
  end

  def create
    @subscription = Subscription.new(subscription_params)
    
    if @subscription.save
      redirect_to @subscription, notice: 'Subscription was successfully created.'
    else
      render action: 'new'
    end
  end
end
```

---

# Redirects

A redirect is an HTTP response with no body abut a `Location` header that instructs the browser to load a different URL

    .terminal
    $ curl -I http://google.com
    HTTP/1.1 301 Moved Permanently
    Location: http://www.google.com/
    Content-Type: text/html; charset=UTF-8
    Date: Thu, 26 Sep 2013 20:59:44 GMT
    Expires: Sat, 26 Oct 2013 20:59:44 GMT
    Cache-Control: public, max-age=2592000
    Server: gws
    Content-Length: 219
    X-XSS-Protection: 1; mode=block
    X-Frame-Options: SAMEORIGIN
    Alternate-Protocol: 80:quic

---

# Views

Views in Rails are templates written in Embedded Ruby (ERB), which is similar to PHP

    .terminal
    Hello, <%= @name %>

if name is set to `"Paul"`, that becomes

    .terminal
    Hello, Paul

`<% %>` are used for expressions that don't return a value

    .terminal
    <% if @name %>
      Hello, <%= @name %>
    <% else %>
      Welcome, Guest
    <% end %>

The code between the `<% %>` and `<%= %>` is Ruby

---

# New view

`app/views/subscriptions/new.html.erb`

    .terminal
    <%= render 'form' %>

---

# Form Partial

`app/views/subscriptions/_form.html.erb`

    .terminal
    <%= form_for(@subscription) do |f| %>
      <% if @subscription.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@subscription.errors.count, "error") %>
            prohibited this subscription from being saved:</h2>

          <ul>
          <% @subscription.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :email, "Find out when we go live:" %>
        <%= f.text_field :email %>
        <%= f.submit "Sign Up" %>
      </div>
    <% end %>

---

# Layout

    .terminal
    <!DOCTYPE html>
    <html>
    <head>
      <title>Betastore</title>
      <%= stylesheet_link_tag "application" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
    </head>
    <body>
      <div style="margin: 0 auto; text-align: center">
        <%= image_tag "logo.jpg", width: 600 %>
        <%= yield %>
      </div>
    </body>
    </html>

---

# Sign Up Form

.center[![Betamore Sign Up](img/betamore_sign_up.png)]

---

# Success

.center[![Betamore Sign Up Success](img/betamore_sign_up_success.png)]

---

# Valentina

We can view our data in a database GUI

.center[![Valentina](img/valentina.png)]

---

# psql

or from the `psql` console

    .terminal
    $ psql -U postgres -d betastore_development
    psql (9.2.1)
    Type "help" for help.

    betastore_development=# select * from subscriptions;
     id |      email       |         created_at         |         updated_at
    ----+------------------+----------------------------+----------------------------
      1 | test@example.com | 2013-09-24 00:45:24.755576 | 2013-09-24 00:45:24.755576
    (1 row)

---

# Review

![MVC](img/request_diagram.png)

1.  Browser makes an HTTP request

2.  Router determines which controller action should handle the request

3.  Controller action uses models to store/retrieve data

4.  Models make SQL queries to store/retrieve data from the database

5.  Controller passes data to the view ERB templates to generate an HTML page

6.  Controller returns the HTML page to the browser to be rendered

---

# Homework

Create a ProductsController with an index action and an index template that shows the same product listing from the previous homework

Deploy app to heroku

[https://devcenter.heroku.com/articles/quickstart](https://devcenter.heroku.com/articles/quickstart)

---

# Install Heroku Toolbelt

.center[,![Heroku Toolbelt](img/heroku-toolbelt.png)]

.center[[http://heroku.toolbelt.com](http://toolbelt.heroku.com)]

---

# Deploying a Heroku App

    .terminal
    $ heroku login
    $ heroku create
    $ git push heroku master
    $ heroku run rake db:migrate
    $ heroku ps:scale web=1
    $ heroku open

  </textarea><div id="slideshow"></div>
  </body>
</html>