<!DOCTYPE html>
<html>
  <head>
    <title>Controllers</title>
    <meta charset="utf-8" />

    <script src="js/remark-0.4.4.min.js"></script>
    <script src="js/jquery.min.js"></script>

    <script>
      remark.config({
        highlightStyle: "solarized_dark"
      });

      var hljs = remark.highlighter.engine();

      // extract the embedded styling from ansi spans
      remark.on('ready', function() {
        $('code.terminal > span.ansi').replaceWith(function(i, x) {
          return(x.replace(/&lt;(\/?(\w+).*?)&gt;/g, '<$1>'))
        });
      });
    </script>
    <script src="js/terminal.language.js"></script>
    <link rel="stylesheet" type="text/css" href="css/droid_serif.css" />
    <link rel="stylesheet" type="text/css" href="css/yanone_kaffeesatz.css" />
    <style type="text/css">
      body {
        font-family: 'Droid Serif';
        font-size: medium;
      }
      h1, h2, h3 {
        font-family: 'Yanone Kaffeesatz';
        font-weight: 400;
        margin-bottom: 0;
      }
      .small * {
        font-size: small !important;
      }
      code {
        border-radius: 5px;
      }
      .inverse {
        background: #272822;
        color: #777872;
        text-shadow: 0 0 20px #333;
      }
      .inverse h1, .inverse h2 {
        color: #f3f3f3;
        line-height: 0.8em;
      }
      .footnote {
        position: absolute;
        font-size: small;
        bottom: 3em;
        right: 3em;
      }
    </style>
  </head>
  <body><textarea id="source" readonly>

class: middle, center

# Views

[http://pjb3.me/bewd-views](http://pjb3.me/bewd-views)

.footnote[
  created with [remark](http://github.com/gnab/remark)
]

---

# Views

Views, the V in MVC, are responsible for generating the visual elements of an application, which is typically HTML

---

# ERB

Embedded Ruby (ERB) is the default templating language in Rails. It looks like this

    .terminal
    Hello, <%= @name %>

if name is set to `"Paul"`, that becomes

    .terminal
    Hello, Paul

`<% %>` are used for expressions that don't return a value

    .terminal
    <% if @name %>
      Hello, <%= @name %>
    <% else %>
      Welcome, Guest
    <% end %>

The code between the `<% %>` and `<%= %>` is Ruby

---

# View Location

Views are located in the `app/views` directory of a Rails application. For each controller, there is a corresponding directory in `app/views`. For example, the views for the `OrdersController` are located in `app/views/orders`.

The name of a view matches the name of the action. So for the `new` action of the `OrdersController`, will be in the `app/views/orders` directory in a file that starts with `new`.

The full name will typically have 2 file extensions, separated by periods. The first extension specifies which format the template is for and the second extension specifies what kind of template it is. The most common format is `html`, we will talk about alternate formats later. Also, ERB is the most common type of template, we will cover other types later.

Putting all of this together, the view for `orders#new` (the new action of the orders controller) will most likely be:

    .terminal
    app/views/orders/new.html.erb

* All views go in `app/views`, so that is beginning of the path

* Since it is for the orders controller, the next directory in the path is `orders`

* Since it is for the `new` action, the file name starts with `new`

* The format is `html`, so the first extension is .`html`

* The template type is `ERB`, so the second extension is `.erb`.

---

# Instance Variables

We have already seen this, but all instance variables that are set when the action is execute are available to the view. For example, when set the instance variable `@message` in `orders#new`:

```ruby
class OrdersController < ApplicationController
  def new
    @title = "Checkout"
  end
end
```

We can access it from the `app/views/orders/new.html.erb`:

```html
<h1><%= @title %></h1>
```

This will print `Checkout` in a heading

---

# Layouts

The HTML generated by the view is just for the main part of the page. Once the main views has been rendered, the result is stored in a temporary variable and then passed into the layout. The `yield` statement retrieves that temporary variable:

```html
<!DOCTYPE html>
<html>
  <head>
    <title>Betastore</title>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
```

In this example, the rendered output of the view will be inserted into `div`

---

# Using Instance Variables In the Layout

The layout has access to the same instance variables the view does:

```ruby
class OrdersController < ApplicationController
  def new
    @title = "Checkout"
  end
end
```

```html
<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
```

In this example, the title of the HTML document will be set to `Checkout`

---

# Setting Instance Variables In the View

You can set/modify instance variables in the view

```ruby
class OrdersController < ApplicationController
end
```

```html
<% @page_title = "Checkout" %>

<h1><%= @page_title %></h1>
```

Since the view is rendered before the layout, we can then access that instance variable from the layout

```html
<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
```

Now we will have an HTML document with a title of `Checkout` and a heading in the body of `Checkout`

---

# Partials

You might find that you have some bits of view code that you would like to share between different views. You can do this with partials. Partials differ normal views in that their name starts with an `_`. For example, say we have an order summary that we want to show when some is checking out, but then we want to display the same information on the confirmation page once the customer's order been placed. To do that, first we would put this in the view:

```html
<%= render 'order' %>
```

Since we are using `render` from within a view, this means to render a partial in the same directory as the view that is named `order`. Then we can put something into `app/views/orders/_order.html.erb`:

```html
<h2>Order Details</h2>
```

We can fill that out with more content later, but for now, when you go to http://localhost:3000/orders/new you will see the main heading for the page title and then the secondary heading that says `Order Details` from the partial.

If you need to use a partial from a directory other than the one the current view is in, just use the path to the partial relative to `app/views`. For example, if you had a partial in `app/views/shared/_sidebar.html.erb`, you could render that from the orders new view in `app/views/orders/new.html.erb` like this:

```html
<%= render 'shared/sidebar' %>
```

Partials will always use the same format as the main view. In theory, the template type for a partial could be different than the one used in the main view, although that is very rare.

---

# Partials In Layouts

Partials can be used in layouts, which is a fairly common technique. For example, we might want to include a footer on every page, which we could do like this

```ruby
<!DOCTYPE html>
<html>
  <head>
    <title>Betastore</title>
  </head>
  <body>
    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
```

Notice that you so have to use `layouts/footer` instead of just `footer` because the default directory is based on the directory the main view is in, not the directory the layout is in.

In `app/views/layouts/_footer.html.erb` you would put something like:

```html
<hr />
&copy; Betamore <%= Time.current.year %>
```

Now if you create other layouts, they could all render this partial and share the same footer.

---

# Helpers

Helpers are Ruby methods that you can call in views, layout and partials. There are many helpers that are built into Rails and you can define your own custom helpers.

Helpers are typically used for formatting or generating HTML tags.

---

# Generating URLs

The helper `url_for` is used to generate urls based on the controller and action. You can pass just an action and the current controller will be used. For example, if you are rendering the view for the new action of the orders controller and you called `url_for` like this:

    .terminal
    <%= url_for action: 'index' %>

The output would be `/orders`, because that is the path for the orders controller's index action. You can refer to the action of another controller by using the controller option:

    .terminal
    <%= url_for controller: 'log_ins', action: 'new' %>

This will generate a path of `/log_in`, not `/log_ins/new`, as you might expect. That is because `url_for` does the reverse process of routing, by finding the route that matches the controller and action and then returns the path for that route.

---

# Named Routes

Most of the time you will not use `url_for` directly, you instead use the named routes. When you have routes defined like this:

```ruby
resources :products, only: [:index, :show]
```

You will see this when you run `rake routes`:

    .terminal
    $ rake routes
      Prefix Verb   URI Pattern                             Controller#Action
    products GET    /products(.:format)                     products#index
     product GET    /products/:id(.:format)                 products#show

The 'Prefix` is the name for that route. There is a helper generated for each named route that you can call by appending `_path` to the route prefix, like this:

    .terminal
    <%= products_path %>
    
That will output `/products`

---

# Named Routes With Parameters

For routes like the `product` route for `products#show`, you pass in an argument for the id of the product, which you can do like this:

    .terminal
    <%= product_path(1) %>

Which will output `/products/1`. You can also pass an instance of a model to a named route method and it will get the value from the id of the model:

    .terminal
    <%= product_path(@product) %>

Assuming `@product` is a reference to the `Product` with an `id` = `1`, this will also output `/products/1`.

---

# Generating Links

For generating links, you can use the `link_to` helper. The first argument is the text that you want to displayed for the link. The second argument is the URL you want the link to go to. So if `product` is a variable that is a reference to a Product with id = 1 and name = Hat, then this:

    .terminal
    <%= link_to product.name, product_path(product) %>

Will generate:

```html
<a href="/products/1">Hat</a>
```

There is an optional third argument to `link_to` which is a Hash that you can use to set attributes on the `a` tag, like this:

    .terminal
    <%= link_to product.name, product_path(product), class: 'product' %>

Will generate:

```html
<a href="/products/1" class="product">Hat</a>
```

---

# Formatting Text

There are some helpers related to formatting of text. You can truncate a string like this:

    .terminal
    <%= truncate "This is a string that is more than 30 characters" %>

Will output `This is a string that is mo...`

`simple_format` replaces line breaks in a string with HTML paragraph tags.

    .terminal
    <%= simple_format "first paragraph\n\nsecond paragraph" %>

```html
<p>first paragraph</p>
<p>second paragraph</p>
```

---

# Formatting Text

Sometimes you might want to display a word in singular if there is just 1 and pluralize it otherwise. The `pluralize` method does that for you if `@products.size` is 1, then:

    .terminal
    <%= pluralize @products.size, 'product' %>

Would print:

    .terminal
    1 product

But if `@products.size` is more than 1, it would print:

    .terminal
    2 products

---

# Formatting Text

Although not technically helper, a good method to know about is `titleize`. Sometimes you might have the name of a class or an attribute in a variable and you might want to print it out in a human readable way.

    .terminal
    <%= 'LineItem'.titleize %>

Will output:

    .terminal
    Line Item
    
This will output the same thing:

    .terminal
    <%= 'line_item'.titleize %>

---

# Formatting Dates

There is a helper that you can use to translate a time to a distance of time. For example, if you have a product that was created 5 days ago, this:

    .terminal
    <%= time_ago_in_words product.created_at %>

Will output `5 days`. It will work for a variety of time ranges, like "less than a minute", "about an hour", etc.

You can use `strftime` to format a date or a time into a string:

    .terminal
    <%= Time.current.strftime('%a, %b %e') %>

That will output:

    Tue, Oct  8

`strftime` uses a little language which you can find more about at [http://www.foragoodstrftime.com](http://www.foragoodstrftime.com)

---

# Formatting Numbers

Print a number as a dollar amount

```ruby
number_to_currency(2.99) # => $2.99
```

Print a number in words

```ruby
number_to_human(1000000) # => 1 Million
```

Print a number of bytes

```ruby
number_to_human_size(1234567) # => 1.18 MB
```

Add commas to a large number

```ruby
number_with_delimiter(1000000) # => 1,000,000
```

Round a number, defaults to 3 decimal places, you can control it with precision:

```ruby
number_with_precision(1.2345) # => 1.235
number_with_precision(1.2345, precision: 2) # => 1.23
```

---

# Form Tags

Our log in form contains just HTML:

```html
<form method="POST" action="/log_in">
  <label for="email">Email</label>
  <input type="email" name="email" id="email" />
  
  <label for="password">Password</label>
  <input type="password" name="password" id="password" />
  
  <button type="submit">Log In</button>
</form>
```

Rails provides several form helpers that you can use to build the same form.

---

# Form Tags

This will generate equivalent HTML:

```html
<%= form_tag do %>
  <%= label_tag :email %>
  <%= email_field_tag :email %>
  
  <%= label_tag :password %>
  <%= password_field_tag :password %>

  <%= button_tag "Log In" %>
<% end %>
```

`form_tag` takes a Hash with the same arguments as `url_for`. The form defaults to a `POST`, so in this case, we don't have to pass any arguments.

---

# Form For

  </textarea><div id="slideshow"></div>
  </body>
</html>