<!DOCTYPE html>
<html>
  <head>
    <title>Controllers</title>
    <meta charset="utf-8" />

    <script src="js/remark-0.4.4.min.js"></script>
    <script src="js/jquery.min.js"></script>

    <script>
      remark.config({
        highlightStyle: "solarized_dark"
      });

      var hljs = remark.highlighter.engine();

      // extract the embedded styling from ansi spans
      remark.on('ready', function() {
        $('code.terminal > span.ansi').replaceWith(function(i, x) {
          return(x.replace(/&lt;(\/?(\w+).*?)&gt;/g, '<$1>'))
        });
      });
    </script>
    <script src="js/terminal.language.js"></script>
    <link rel="stylesheet" type="text/css" href="css/droid_serif.css" />
    <link rel="stylesheet" type="text/css" href="css/yanone_kaffeesatz.css" />
    <style type="text/css">
      body {
        font-family: 'Droid Serif';
        font-size: medium;
      }
      h1, h2, h3 {
        font-family: 'Yanone Kaffeesatz';
        font-weight: 400;
        margin-bottom: 0;
      }
      .small * {
        font-size: small !important;
      }
      code {
        border-radius: 5px;
      }
      .inverse {
        background: #272822;
        color: #777872;
        text-shadow: 0 0 20px #333;
      }
      .inverse h1, .inverse h2 {
        color: #f3f3f3;
        line-height: 0.8em;
      }
      .footnote {
        position: absolute;
        font-size: small;
        bottom: 3em;
        right: 3em;
      }
    </style>
  </head>
  <body><textarea id="source" readonly>

class: middle, center

# Controllers

[http://pjb3.me/bewd-controllers](http://pjb3.me/bewd-controllers)

.footnote[
  created with [remark](http://github.com/gnab/remark)
]

---

# Controllers

Controllers use information from the request, such as the parameters, cookies, headers, etc., to create, retrieve, update or delete data via models and then pass data to the view so an HTML page can be rendered

Controllers go in `app/controllers` in a file that matches the name of the controller. For example, the products controller would go in `app/controllers/products_controller.rb` and look like this:

```ruby
class ProductsController < ApplicationController
end
```

---

# Actions

All public methods of controllers are eligible to be actions, but they can only be called if there is at least one route that exposes the action. An empty action that gets no data and just renders a view would look like this:


```ruby
class ProductsController < ApplicationController
  def index
  end
end
```

Because the name of the action being called is `index` and the name of the controller is `products`, Rails will render the view at `app/views/products/index.html.erb`. If that file does not exist, you will see a missing template error.

---

# Actions Are Optional, Controllers Are Not

If you have an empty controller like this:

```ruby
class ProductsController < ApplicationController
end
```

And you do have a template at `app/views/products/index.html.erb`, when the router tries to call the index action, it will work by just rendering the view. You don't have to have an action defined if it doesn't do anything.

---

# Making Data Available To Views

All instance variables set in the controller are available to the action. For example, if you set an instance variable like this in the controller:

```ruby
class ProductsController < ApplicationController
  def index
    @page_title = "Products"
  end
end
```

You can then use it in the view like this:

    .terminal
    <h1><%= @page_title %></h1>

---

# Layouts

The view for an action is specifically for rendering the main content of the page. Your page will be a full HTML document, with a head section and probably some header, navigation and footer than are consistent between all or many different pages. After the main content for the action is rendered, as in the previous example, the layout is then rendered:

```html
<!DOCTYPE html>
<html>
  <head>
    <title>Betastore</title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
```

The `<%= yield %>` expression controls where the main content is put in the layout

---

# Layouts

The default layout is in `app/views/layouts/application.html.erb`. You can have a different layout per controller by having a layout that matches the controller name, which would be `app/views/layouts/products.html.erb`. The controller-specific layout takes precedence over the application-specific layout, if the controller-specific layout exists.

You can also have any specific action use a custom layout:

```ruby
class ProductsController < ApplicationController
  def index
    @page_title = "Products"
    render layout: 'whatever'
  end
end
```

This would use `app/views/layouts/whatever.html.erb` for the layout. You can set the custom layout at the controller level as well:

```ruby
class ProductsController < ApplicationController
  layout 'whatever'
  
  def index
    @page_title = "Products"
  end
end
```

---

# Excluding The Layout

If you would rather not use a layout, you can set the layout to false:

```ruby
class ProductsController < ApplicationController
  def index
    @page_title = "Products"
    render layout: false
  end
end
```

And only the result of the rendering the view will be returned. You can specific this at the controller level as well:

```ruby
class ProductsController < ApplicationController
  layout false
  
  def index
    @page_title = "Products"
  end
end
```

---

# Conditionally Excluding The Layout

You might want to use the layout depending on some attribute of the request. A common technique is to not use a layout on AJAX requests. You can do that like this:

```ruby
class ProductsController < ApplicationController
  def index
    @page_title = "Products"
    render layout: request.xhr?
  end
end
```

`xhr?` returns true if it is an XMLHttpRequest, which is the case when making an AJAX request. At the controller level, you can use a symbol to indicate that a method should be called to check to see if a layout should be used:

```ruby
class ProductsController < ApplicationController
  layout :use_layout?
  
  def index
    @page_title = "Products"
  end
  
  private
  def use_layout?
    !request.xhr?
  end
end
```

---

# Logging

When working with controller, you may want to print some things out to see what it going on. You do that via the logger. The logger has 4 levels and a method that corresponds to each level.  Here's an example of a controller using all for levels:

```ruby
class ProductsController < ApplicationController
  def index
    logger.debug "You will only see this message in development"
    logger.info "You will see this message in development and production"
    logger.warn "This means there could be a problem"
    logger.error "This means there is a problem"
  end
end
```

---

# Environment

When you run your Rails application on your computer to do development, the application runs in a different mode called **development** that configures things appropriately for development, such as auto-reloading code when it changes and showing debug log messages. 

When your application runs on a production server like at Heroku, it runs in **production** mode, which does not automatically load changes to improve performance and does not log debug messages that could unnecessarily fill up log files.

You can check while your programming is running which `environment` it is using:

    .terminal
    $ rails c
    Rails.env
    Loading development environment (Rails 4.0.0)
    >> Rails.env
    => "development"
    >> Rails.env.development?
    => true
    >> Rails.env.production?
    => false

---

# Parameters

Controllers have access to a Hash called `params` which has values that allow the action to respond differently based on the way it was called. you can access it from a controller action simply by calling `params`.

In the simplest case, the params hash will only have the name of the controller and the action being called. An action like this:

```ruby
class ProductsController < ApplicationController
  def index
    logger.debug "PARAMS: #{params.inspect}"
  end
end
```

Will log a message that looks like this:

    .terminal
    PARAMS: {"action"=>"index", "controller"=>"products"}

---

# Using Symbols To Access Parameters

One important thing to know about the params Hash is that it the keys look like Strings, and they are, but you can also access them using symbols. This:

```ruby
class ProductsController < ApplicationController
  def index
    logger.debug "CONTROLLER: " + params[:controller]
    logger.debug "ACTION: " + params[:action]
    logger.debug "PARAMS CLASS: " + params.class.name
  end
end
```

Will log this:

    .terminal
    CONTROLLER: products
    ACTION: index
    PARAMS CLASS: ActionController::Parameters
    
The important things to note are that accessing the values of this Hash using symbols worked and the reason why is because `params` is not a Hash, it is a `ActionController::Parameters`

---

# HashWithIndifferentAccess

If you look at the ancestors of `ActionController::Parameters` in a rails console:

    .terminal
    >> puts ActionController::Parameters.ancestors
    ActionController::Parameters
    ActiveSupport::HashWithIndifferentAccess
    Hash
    ...

You can see that it is a subclass of `Hash` called `HashWithIndifferentAccess` and it provides the special behavior that allows you to access the value for a `String` key using a `Symbol`. The normal Ruby `Hash` does not allow that.

---

# Query String Parameters

If we restore our controller to just printing the params hash:

```ruby
class ProductsController < ApplicationController
  def index
    logger.debug "PARAMS: #{params.inspect}"
  end
end
```

and bring up the URL http://localhost:3000/products?ref=test in our browser, we will see this in the server output:

    .terminal
      Parameters: {"ref"=>"test"}
    PARAMS: {"ref"=>"test", "action"=>"index", "controller"=>"products"}

So here we can see two things. First, if we have more than just a controller and an action in our params, Rails automatically logs the parameters for us, so we can remove our code that does it manually.

Second, when we pass parameters via the query string, they are added to the parameters automatically by Rails.

---

# Multiple Query String Parameters

You can pass multiple parameters in the query string separated by an `&`.  Accessing http://localhost:3000/products?ref=test&src=whatever results in these parameters in our action:

    .terminal
    {"ref"=>"test", "src"=>"whatever"}

Query string parameters cannot have special characters in them like `=`, `&`, `'` or spaces. If you want to use those, you must URL encode the value. Rails can automatically do that for you when generating a link with query string parameters.

---

# Redirect

A redirect is something the controller can do when you want to tell the browser to load another page instead of rendering an HTML page. You do this in a Rails app by using redirect_to.

If you want, you can redirect_to the same controller and action with different parameters, like this:

```ruby
class ProductsController < ApplicationController
  def index
    if params[:status].blank?
      redirect_to url_for(:status => "Paul's status is 2 + 2 = 4")
    else
      logger.debug "STATUS: #{params[:status]}"
      @page_title = "Products"
    end
  end
end
```

If you visit http://localhost:3000/products in your browser, you will see that you are redirected to http://localhost:3000/products?status=Paul%27s+status+is+2+%2B+2+%3D+4

Then you will see this in your log:

    .terminal
    STATUS: Paul's status is 2 + 2 = 4

You can see what a URL encoded query string parameter value looks like and also that Rails takes care of automatically decoding it for you, because it is logged in the decoded format.

---

# Before Filters

Before filters usually go hand in hand redirects. Having conditional logic in our action, as we did in the previous example is messy. We can refactor our previous example to look like this:

```ruby
class ProductsController < ApplicationController
  before_filter :set_default_status

  def index
    logger.debug "STATUS: #{params[:status]}"
    @page_title = "Products"
  end
  
  private
  def set_default_status
    if params[:status].blank?
      redirect_to url_for(:status => "Paul's status is 2 + 2 = 4")
    end
  end
end
```

In this example, the line that starts with `before_filter` tells our controller that we want to call a method before the action is called. In this case, the method is named `set_default_status`.

In the `set_default_status` method, we do a redirect if there is no status parameters. If a before filter does a redirect, rails knows not to call the action, but instead instruct the browser to redirect, which results in a new request. If the before filter does not do a redirect, then the action is called.

---

# Inheritance

Controllers are just Ruby classes and therefore they make use of inheritance. Your Rails app comes with a controller named `ApplicationController` in `app/controllers/application_controller.rb` that all of your controllers should be a subclass of. This gives you a place to put site-wide behavior.

We are going to take advantage of this to implement authentication into our application.

---

# Application Before Filter

If we want to make sure that the user has logged in, and redirect them to the log in page if they have not, we can use a before filter like this:

`app/controllers/application_controller.rb`

```ruby
class ApplicationController < ActionController::Base
  before_filter :require_log_in
  
  protected
  def require_log_in
    redirect_to '/log_in' unless logged_in?
  end
  
  def logged_in?
    false
  end
end
```

Because `ProductsController` is a subclass of `ApplicationController`, this before filter will execute and it will always redirect us to the log in page

You will get an error when the log in page tries to load, but that's ok, that's because we haven't created it yet

We'll create that page and a real `logged_in?` method next

---

# Route

We're going to create a log in page now and the first thing we need when creating a new page is a route.  Let's try to do this using RESTful routes. Add this to `config/routes.rb`:

```ruby
resource :log_in, only: [:new, :create, :destroy]
```

Even though we won't be creating a log in record in our database, the RESTful design pattern is still a good one to follow. Here are the routes generated by the log in singular resource:

    .terminal
    $ rake routes
           Prefix Verb   URI Pattern             Controller#Action
           log_in POST   /log_in(.:format)       log_ins#create
       new_log_in GET    /log_in/new(.:format)   log_ins#new
                  DELETE /log_in(.:format)       log_ins#destroy

These routes would work, but they are a little strange. Let's try some custom routes instead.

---

# Custom Routes

Replace the singular log in resource in `config/routes.rb` with this:

```ruby
 get '/log_in'  => 'log_ins#new', as: 'log_in'
post '/log_in'  => 'log_ins#create'
post '/log_out' => 'log_ins#destroy', as: 'log_out'
```

Here's what these routes look like:
    
    .terminal
    $ rake routes
           Prefix Verb   URI Pattern                             Controller#Action
           log_in GET    /log_in(.:format)                       log_ins#new
                  POST   /log_in(.:format)                       log_ins#create
          log_out POST   /log_out(.:format)                      log_ins#destroy

It's a good idea to use custom routes like this if it makes sense, but to stick with the RESTful design for the controllers and actions

Try to go to http://localhost:3000/products now. You should be redirected to `/log_in` and get an error that says `uninitialized constant LogInsController`. That's ok, that just means we haven't created our log ins controller yet, so we'll do that next.

---

# Log Ins Controller

Create an empty Log Ins Controller at `app/controllers/log_ins_controller.rb` that looks like this:

```ruby
class LogInsController < ApplicationController
end
```

Now when you go to http://localhost:3000/products the error message should be:

    .terminal
    The action 'new' could not be found for LogInsController

We're create our action next

---

# Log In Form

The next thing we need is an action named `new`. Let's add an empty action:

```ruby
class LogInsController < ApplicationController
  def new
  end
end
```

Now try to load http://localhost:3000/products again. You'll get an error now and the exact message will be different depending on which browser you are using. If you are using Chrome, it will say:

    .terminal
    This webpage has a redirect loop

What's going on here? Take a look in the output in the window where your `rails server` is running and you'll see something like this repeated several times:

    .terminal
    Started GET "/log_in" for 127.0.0.1 at 2013-10-02 21:36:46 -0400
    Processing by LogInsController#new as HTML
    Redirected to http://localhost:3000/log_in
    Filter chain halted as :require_log_in rendered or redirected
    Completed 302 Found in 1ms (ActiveRecord: 0.0ms)

What is happening is that our Log In page is redirecting to the Log In page, so the browser would just keep redirecting infinitely, but eventually it realizes that is happening so it stops following the redirects and shows you an error. So how can we fix this?

---

# Skip Before Filter

Our `LogInsController` is a subclass of `ApplicationController` so it inherits the behavior of redirecting to `/log_in` if the user is not logged in. We need to skip this behavior for this controller or else there will be no way for the user to log in.

We can prevent the `require_log_in` before filter from being run on our `LogInsController` by doing this:

```ruby
class LogInsController < ApplicationController
  skip_before_filter :require_log_in 
  
  def new
  end
end
```

Now if we try to load http://localhost:3000/products we get this error:

    .terminal
    Missing template log_ins/new

This means that there is no view for this action, so next we'll create one

---

# Optional Action

Before we create the view, let's remove the new action. As we said earlier, you don't need an action if it is empty, the controller will just render the view. Modify `LogInsController` to look like this:

```ruby
class LogInsController < ApplicationController
  skip_before_filter :require_log_in 
end
```

Now we know we need to create our view for the new action, but where does it go?

---

# How The Controller Finds The View

Rails uses a naming convention to locate the view for a controller. The view for any controller/action is at:

    .terminal
    app/views/<controller_name>/<action_name>.html.erb

Since our controller is named `log_ins` and the action is `new`, we need to create our view at:

    .terminal
    app/views/log_ins/new.html.erb

Let's just put something simple in the view for now to make sure we've got everything in the right place:

```html
<h1>Log In</h1>
```

Go to http://localhost:3000/products now and you should see **Log In** 

---

# The Form

Now we need to create the actual log in form. Put this HTML into `app/views/log_ins/new.html.erb`:

```html
<h1>Log In</h1>

<form method="POST" action="/log_in">
  <label>
    Email
    <input type="email" name="email" />
  </label>
  
  <label>
    Password
    <input type="password" name="password" />
  </label>
  
  <button type="submit">Log In</button>
</form>
```

---

# Submitting The Form

Now reload the page and you should see a log in form with two fields and a button. It doesn't look great but it's good enough for now.

Go ahead and try to enter something for email, something for password and press the log in button. You should get an error like this:

    .terminal
    The action 'create' could not be found for LogInsController

Let's figure out why we are getting this error

---

# Handling A Form Post

First, if we look at our form, we can see that we used `POST` for the method and `/log_in` for the action:

```html
<form method="POST" action="/log_in">
```

So the HTTP request the browser makes will be an HTTP `POST` to `/log_in`. That will match this route:

    .terminal
    POST   /log_in(.:format)                       log_ins#create

So the `create` action of the `LogInsController` is what is getting called and we haven't created that yet, so that explains the error.

So add an empty `create` action to the `LogInsController`:

```ruby
class LogInsController < ApplicationController
  skip_before_filter :require_log_in
  
  def create
  end
end
```

Submit the log in form again and see what error you get

---

# ActionController::InvalidAuthenticityToken

The error you will get when submitting the form will be `ActionController::InvalidAuthenticityToken`

We'll cover this error in more detail later when we go into views, but for now, comment out the `protect_from_forgery` line in the beginning of `app/controller/application_controller.rb`:

```ruby
class ApplicationController < ActionController::Base
  # Prevent CSRF attacks by raising an exception.
  # For APIs, you may want to use :null_session instead.
  #protect_from_forgery with: :exception
  ...
end
```

Resubmit the form and see what happens

---

# Post Parameters

The error you will get will be `Template is missing`, but that is just because we aren't doing anything in the action yet. Take a look at the output of `rails server` again and you should see something like this:

    .terminal
    Started POST "/log_in" for 127.0.0.1 at 2013-10-02 22:17:51 -0400
    Processing by LogInsController#create as HTML
      Parameters: {"email"=>"test@example.com", "password"=>"[FILTERED]"}
    Completed 500 Internal Server Error in 2ms

You can see that the data that you entered in the form is now available in the parameters. This is the same `params` Hash that we discussed earlier. The parameters from the form aren't passed as query string parameters, instead they are in the both of the HTTP request. Nonetheless, we can access the data in the controller in `params`.

Note that the value being displayed in the log for `"password"` isn't the actual value, it's being filtered out. That because Rails assumes that `password` is a sensitive value that you don't want to display in the log file. The actual value is available in `params[:password]` when we access it in the controller.

You can read more about how to set which parameters are filtered here:

[http://guides.rubyonrails.org/configuring.html#configuring-rails-components](http://guides.rubyonrails.org/configuring.html#configuring-rails-components)

Next let's make our log in actually do something

---

# Implementing Log In

For now we are going to implement a very simple authentication mechanism just to illustrate the point of how this works. We'll improve on this implementation later.

Put this in the `create` action in `LogInsController`

```ruby
class LogInsController < ApplicationController
  skip_before_filter :require_log_in
  
  def create
    if params[:password].present?
      cookies[:email] = params[:email]
      redirect_to products_path
    else
      redirect_to log_in_path, alert: 'Log In Failed'
    end
  end
end
```

So there are two possibilities here. If the user entered a password, any password, then they we will set a cookie and redirect them to the products page. It the user does not enter a password, we will redirect them back to the log in form again with an alert that the log in failed.

Let's focus the case where you don't enter a password first. Submit the log in form without a password.

---

# Displaying Flash Messages

When you submit the form with no password, you will see the log in form again, but you don't see the alert message.

The alert message is stored in what is called the `flash`, which is a place to hold small, temporary values that you want to pass between actions. The two most common uses for flash are `notice` messages, which are a message that you want the user to see but doesn't indicate a problem, and `alert` messages, which is a message to tell the user there is a problem.

In order to make our alert message actually show up on the log in form, add this to `app/views/log_ins/new.html.erb`:

```html
<% if flash[:alert] %>
  <p style="color: red"><%= flash[:alert] %></p>
<% end %>
```

Now when you submit the form with no password, you should see the alert

---

# Implementing Log In

Now try submitting the form with an email and a password. You should be taken back to the log in form with no alert. So what is happening here? Let's look at the `create` action again:

```ruby
class LogInsController < ApplicationController
  skip_before_filter :require_log_in
  
  def create
    if params[:password].present?
      cookies[:email] = params[:email]
      redirect_to products_path
    else
      redirect_to log_in_path, alert: 'Log In Failed'
    end
  end
end
```

When log in "succeeds", we set a cookie and redirect to the products index action, but when we reach the products index action, it redirects back to log in, because `logged_in?` is still always false, as it is currently implemented in `ApplicationController`.

---

# Implementing Log In

```ruby
class ApplicationController < ActionController::Base
  ...
  def logged_in?
    false
  end
end
```

We need to update this method to check for the cookie:

```ruby
class ApplicationController < ActionController::Base
  ...
  def logged_in?
    cookies[:email].present?
  end
end
```

Now go to http://localhost:3000/products again. You should see the products page load now.

---

# Log Out

One last thing we want to do is allow the user to log out. First, let's implement the controller action to handle log out:

```ruby
class LogInsController < ApplicationController
  ...
  def destroy
    cookies.delete(:email)
    redirect_to products_path
  end
end
```

And let's a link that will go to this action in `app/views/products/index.html.erb`:

```html
<%= link_to "Log Out", log_out_path, method: 'post' %>
```

We've cover what this means in the next lesson, but for now, try it out in your browser to make sure you can log in an log out

---

# Homework

It doesn't actually make sense to require the user to be logged in to look at the products. There will be other pages that will require the user to be logged in, such as viewing their orders, so we want to keep the require log in functionality, but we want to skip it on the products listing page.

Make it so the products listing page can be viewed even if you aren't logged in. Also, on the products page, show the log out link if you the user it logged in and show the log in link if the user is logged out.

  </textarea><div id="slideshow"></div>
  </body>
</html>