<h1>Products</h1>

<table>
  <tr>
    <td>
      <img src="/assets/products/hat.jpg"/>
      <br />
      <a href="/products/hat">Betamore Hat</a>
      <br />
      <em>$12.99</em>
    </td>
    <td>
      <img src="/assets/products/hoodie.jpg"/>
      <br />
      <a href="/products/hoodie">Betamore Hoodie</a>
      <br />
      <em>$26.99</em>
    </td>
    <td>
      <img src="/assets/products/iphone_case.jpg"/>
      <br />
      <a href="/products/iphone_case">Betamore iPhone Case</a>
      <br />
      <em>$9.99</em>
    </td>    
  </tr>
  <tr>
    <td>
      <img src="/assets/products/journal.jpg"/>
      <br />
      <a href="/products/journal">Betamore Journal</a>
      <br />
      <em>$12.99</em>
    </td>
    <td>
      <img src="/assets/products/shirt.jpg"/>
      <br />
      <a href="/products/shirt">Betamore T-Shirt</a>
      <br />
      <em>$19.99</em>
    </td>
    <td>
      <img src="/assets/products/sticker.jpg"/>
      <br />
      <a href="/products/stickers">Betamore Sticker</a>
      <br />
      <em>$3.99</em>
    </td>
  </tr>
</table>